/* @import "darkmode.css";  */

:root{
  --animation: none;
  --counter: 0;
  --black: #000;
}

:lang(ar) *{
  direction: rtl;
}

body{
  font-size: 100%;
  font-family: sans-serif;
  background-color: #673013;
  /* animation: var(--animation) drunk-mode .3s infinite alternate ; */
}

label{
  display: block;
  height: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
}

/* label:not([for^="alc-"])::before{
  background-color: #673013;
  width: 100%;
  content: 'fwefwf';
  height: 3rem;
  position: absolute;
  z-index: -1;
} */

label[for=vodka]{
  background-image: url(../img/vodka-label.png);
}

label[for=beer]{
  background-image: url(../img/beer-label.png);
}

input[type="radio"][value="vodka"]:checked ~ section:nth-of-type(1){
  cursor: url("../img/vodka.png"), auto;
}

input[type="radio"][value="vodka"]:checked ~ section:nth-of-type(1) .person header{
  cursor: url("../img/vodka-rotate.png"), auto;
}

input[type="radio"][value="beer"]:checked ~ section:nth-of-type(1){
  cursor: url("../img/beer1.png"), auto;
}

input[type="radio"][value="beer"]:checked ~ section:nth-of-type(1) .person header{
  cursor: url("../img/beer-rotate.png"), auto;
}

input[type="radio"][value="1"]:checked ~ section .person::after{
  content: '1';
}

input[type="radio"][value="1"]:checked ~ section:nth-of-type(1){
  animation: drunk-section 3s infinite;
  background-color: red;
}

@keyframes drunk-section{
  0%, 100%{
    transform: perspective(1000px) rotateY(0deg);
    transform-origin: left;
  }

  50%{
    transform-origin: left;
    transform: perspective(1000px) rotateY(15deg);
  }
}

/* input[type="radio"][value="2"]:checked ~ section .person::after{
  content: '2';
}
input[type="radio"][value="3"]:checked ~ section .person::after{
  content: '3';
}
input[type="radio"][value="4"]:checked ~ section .person::after{
  content: '4';
}

input[type="radio"][value="5"]:checked ~ section .person::after{
  content: '5';
} */

section:nth-of-type(1){
  position: relative;
  /* cursor: url("../img/beer1.png"), auto; */
  /* height: 10rem; */
  background-color: var(--test);
  display: flex;
  justify-content: center;
  background-color: burlywood;
  height: 40rem;
}



/* section:nth-of-type(1) .person header{
  cursor: url("../img/beer-rotate.png"), auto;
} */

.person{
  /* width: 30rem;
  height: 30rem; */
  margin: 5rem 0 0 0;
}

.person header,
.person header::after{
  height: 25vw;
  width: 50vw;
  background-color: sandybrown;
}

.person header{
  border-radius: 50vw 50vw 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.person header::after{
  content: '';
  position: absolute;
  top: 25.25vw;
  transform: translate(0px, 5rem);
  border-radius: 0 0 50vw 50vw;
  transition: transform .5s;
}

.person header::before{
  content: '';
  position: absolute;
  top: 25.25vw;

}

.person header:hover::after{
  transform: translate(0px, 13vw);
}

.person header > div:nth-of-type(1){
  transform: translate(0px, 13vw);
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.person header > div:nth-of-type(1) div{
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 3vw;
  background-color: var(--black);
}

/* Eyebrows */
.person header > div:nth-of-type(1) div::before{
  content: '';
  height: 1vh;
  width: 7.5vw;
  position: absolute;
  background-color: var(--black);
  transform: translate(-30%, -145%);
  min-height: .5rem;
}

.person header > div:nth-of-type(1) div:nth-of-type(1)::before,
.person header > div:nth-of-type(1) div:nth-of-type(2)::before{
  transition: transform .5s;
}

.person header > div:nth-of-type(1) div:nth-of-type(1)::before{
  transform: translate(-60%, -145%) rotate(-45deg);
}

.person header > div:nth-of-type(1) div:nth-of-type(2)::before{
  transform: translate(0%, -145%) rotate(45deg);
}

.person:hover header > div:nth-of-type(1) div:nth-of-type(1)::before{
  transform: translate(-60%, -300%) rotate(-45deg);
  transition: .5s;
}

.person:hover header > div:nth-of-type(1) div:nth-of-type(2)::before{
  transform: translate(0%, -300%) rotate(45deg);
  transition: .5s;
}

div.person::after{
  /* content: "Alc. "counter(alcohol-level)"%"; */
  position: absolute;
  top: 1rem;
  left: 15rem;
  font-size: 2rem;
}

input[name=test]:checked ~ section{
  animation: drunk-mode-container 10s infinite;
}

input[name=test]:checked ~ section .person{
  animation: drunk-mode 10s infinite;
}



div.person header:hover{
  animation: alcohol-up 3s .3s normal forwards;
}

@keyframes alcohol-up{

  20%{
    counter-increment: alcohol-level 1;
  }
  40%{
    counter-increment: alcohol-level 2;
  }

  60%{
    counter-increment: alcohol-level 3;
  }

  80%{
    counter-increment: alcohol-level 4;
  }

  100%{
    counter-increment: alcohol-level 5;
  }
}

section{
  page-break-after: always ;
}

@keyframes drunk-mode-container{


  0%, 40%, 80%{
    filter: blur(0);

  }

  20%, 60%{
    filter: blur(12px);

  }
  /* 0%, 30%, 60%, 90%{
    transform: rotate(-10deg);
  }

  0%{
    transform: rotate(-10deg);
    filter: blur(0);
  }
  30%{
    filter: blur(1px);
  }
  40%{
    filter: blur(0);
  }
  45%{
    filter:blur(8px)
  }
  55%{
    filter: blur(1px);
  }

  70%{
    filter: blur(20px);
  }
  100%{
    filter: blur(0px);
    transform: rotate(10deg);
  } */
}


@keyframes drunk-mode{


  0%, 40%, 80%{
    transform: perspective(1000px) rotate3d(1, 1, 1, -30deg) ;
  }

  20%, 60%{
    transform: perspective(1000px) rotate3d(1, 1, 1, 30deg);
  }

 
}

/* * ~ section{
  page-break-after: always  ;
} */


@media (prefers-reduced-motion: reduce) {
  :root{
    --animation: initial;
  }
}

@media print{
  body{
    background-color: red;
    -webkit-print-color-adjust: exact;
  }

  * ~ section{
    page-break-after: always  ;
  }
}